.container {
	max-width: 1300px;
	margin: 0 auto;
	overflow: auto;
	padding: 0 40px;
}

.full {
	max-width: 100%;
}

.card {
	position: relative;
	background-color: #fff;
	color: #333;
	border-radius: 8px;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
	padding: 20px;
	margin: 10px;
}

.card .tools,
.card-3 .tools {
	position: absolute;
	top: 0;
	right: 0;
	margin-top: 10px;
	margin-right: 10px;
}

.card-2 {
	/* background-color: #fff; */
	color: #333;
	border-radius: 8px;
	border: 1px rgba(128, 128, 128, 0.4) solid;
	padding: 15px;
	margin: 10px;
}

.card-3 {
	position: relative;
	background-color: #fff;
	color: #333;
	border-radius: 8px;
	padding: 15px;
	margin: 20px 10px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
	/* border: 1px rgba(0, 0, 0, 0.1) solid; */
}

/* .card-3::before {
	content: '';
	position: absolute;
	height: 3px;
	width: 100%;
	background: var(--primary-color);
	top: 0;
	left: 0;
	z-index: 0;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
} */

.fa-google {
	background: conic-gradient(from -45deg, #ea4335 110deg, #4285f4 90deg 180deg, #34a853 180deg 270deg, #fbbc05 270deg) 73% 55%/150% 150% no-repeat;
	-webkit-background-clip: text;
	background-clip: text;
	color: transparent;
	-webkit-text-fill-color: transparent;
}

.float-right {
	float: right;
}

.float-left {
	float: left;
}

.btn {
	display: inline-block;
	font-weight: 500;
	color: #212529;
	text-align: center;
	vertical-align: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-color: transparent;
	border: 1px solid transparent;
	padding: 0.375rem 0.75rem;
	font-size: 1rem;
	line-height: 1.5;
	border-radius: 25px;
	transition: color 0.15s ease-in-out,
		background-color 0.15s ease-in-out,
		border-color 0.15s ease-in-out,
		box-shadow 0.15s ease-in-out;
}

.btn-dropdown {
	display: inline-block;
	padding: 7px 28px;
	margin: 5px;
	cursor: pointer;
	background: var(--primary-color);
	color: #fff;
	border: none;
	border-radius: 25px;
	font-size: 0.875rem;
	font-weight: 600;
}

.btn-tools {
	display: inline-block;
	padding: 8px 10px;
	cursor: pointer;
	color: var(--blue-color);
	border: none;
	font-size: 0.90rem;
	font-weight: 600;
	border-radius: 25px;
	background-color: rgb(233, 233, 233, 0.4);
}

.btn-shadow {
	box-shadow: 0 6px 4px -4px #ccc;
	-moz-box-shadow: 0 6px 4px -4px #ccc;
	-webkit-box-shadow: 0 6px 4px -4px #ccc;
}

.btn-outline {
	background-color: transparent;
	border: 1px rgb(155, 155, 155) solid;
	color: rgb(155, 155, 155);
}

.btn-outline-primary {
	background-color: transparent;
	color: #007bff;
	border-color: #007bff;
	border: 1px solid;
}

.btn-outline:hover,
.btn-outline-primary:hover {
	color: #fff;
	background-color: #007bff;
	border-color: #007bff;
}

.btn-outline-primary:focus,
.btn-outline-primary.focus {
	box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}

.btn-outline-primary.disabled,
.btn-outline-primary:disabled {
	color: #007bff;
	background-color: transparent;
}

.btn-outline-primary:not(:disabled):not(.disabled):active,
.btn-outline-primary:not(:disabled):not(.disabled).active,
.show>.btn-outline-primary.dropdown-toggle {
	color: #fff;
	background-color: #007bff;
	border-color: #007bff;
}

.btn-outline-primary:not(:disabled):not(.disabled):active:focus,
.btn-outline-primary:not(:disabled):not(.disabled).active:focus,
.show>.btn-outline-primary.dropdown-toggle:focus {
	box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}

.btn-outline-default {
	color: #4e5255;
	/* border-color: #007bff; */
}

.btn-outline-default:hover {
	color: #fff;
	background-color: #007bff;
	border-color: #007bff;
}

.btn-outline-default:focus,
.btn-outline-default.focus {
	box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}

.btn-outline-default.disabled,
.btn-outline-default:disabled {
	color: #007bff;
	background-color: transparent;
}

.btn-outline-default:not(:disabled):not(.disabled):active,
.btn-outline-default:not(:disabled):not(.disabled).active,
.show>.btn-outline-default.dropdown-toggle {
	color: #fff;
	background-color: #007bff;
	border-color: #007bff;
}

.btn-outline-default:not(:disabled):not(.disabled):active:focus,
.btn-outline-default:not(:disabled):not(.disabled).active:focus,
.show>.btn-outline-default.dropdown-toggle:focus {
	box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}

/* dasdasdas */
.btn-outline-success {
	color: #28a745;
	border-color: #28a745;
	background-color: transparent;
	border: 1px solid;
}

.btn-outline-success:hover {
	color: #fff;
	background-color: #28a745;
	border-color: #28a745;
}

.btn-outline-success:focus,
.btn-outline-success.focus {
	box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.5);
}

.btn-outline-success.disabled,
.btn-outline-success:disabled {
	color: #28a745;
	background-color: transparent;
}

.btn-outline-success:not(:disabled):not(.disabled):active,
.btn-outline-success:not(:disabled):not(.disabled).active,
.show>.btn-outline-success.dropdown-toggle {
	color: #fff;
	background-color: #28a745;
	border-color: #28a745;
}

.btn-outline-success:not(:disabled):not(.disabled):active:focus,
.btn-outline-success:not(:disabled):not(.disabled).active:focus,
.show>.btn-outline-success.dropdown-toggle:focus {
	box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.5);
}

.btn-outline-secondary {
	color: #17a2b8;
	border-color: #17a2b8;
	background-color: transparent;
	border: 1px solid;
}

.btn-outline-secondary:hover {
	color: #fff;
	background-color: #17a2b8;
	border-color: #17a2b8;
}

.btn-outline-secondary:focus,
.btn-outline-secondary.focus {
	box-shadow: 0 0 0 0.2rem rgba(23, 162, 184, 0.5);
}

.btn-outline-secondary.disabled,
.btn-outline-secondary:disabled {
	color: #17a2b8;
	background-color: transparent;
}

.btn-outline-secondary:not(:disabled):not(.disabled):active,
.btn-outline-secondary:not(:disabled):not(.disabled).active,
.show>.btn-outline-secondary.dropdown-toggle {
	color: #fff;
	background-color: #17a2b8;
	border-color: #17a2b8;
}

.btn-outline-secondary:not(:disabled):not(.disabled):active:focus,
.btn-outline-secondary:not(:disabled):not(.disabled).active:focus,
.show>.btn-outline-secondary.dropdown-toggle:focus {
	box-shadow: 0 0 0 0.2rem rgba(23, 162, 184, 0.5);
}

.btn-outline-warning {
	color: #ffc107;
	border-color: #ffc107;
	background-color: transparent;
	border: 1px solid;
}

.btn-outline-warning:hover {
	color: #212529;
	background-color: #ffc107;
	border-color: #ffc107;
}

.btn-outline-warning:focus,
.btn-outline-warning.focus {
	box-shadow: 0 0 0 0.2rem rgba(255, 193, 7, 0.5);
}

.btn-outline-warning.disabled,
.btn-outline-warning:disabled {
	color: #ffc107;
	background-color: transparent;
}

.btn-outline-warning:not(:disabled):not(.disabled):active,
.btn-outline-warning:not(:disabled):not(.disabled).active,
.show>.btn-outline-warning.dropdown-toggle {
	color: #212529;
	background-color: #ffc107;
	border-color: #ffc107;
}

.btn-outline-warning:not(:disabled):not(.disabled):active:focus,
.btn-outline-warning:not(:disabled):not(.disabled).active:focus,
.show>.btn-outline-warning.dropdown-toggle:focus {
	box-shadow: 0 0 0 0.2rem rgba(255, 193, 7, 0.5);
}

.btn-outline-danger {
	color: #dc3545;
	border-color: #dc3545;
	background-color: transparent;
	border: 1px solid;
}

.btn-outline-danger:hover {
	color: #fff;
	background-color: #dc3545;
	border-color: #dc3545;
}

.btn-outline-danger:focus,
.btn-outline-danger.focus {
	box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.5);
}

.btn-outline-danger.disabled,
.btn-outline-danger:disabled {
	color: #dc3545;
	background-color: transparent;
}

.btn-outline-danger:not(:disabled):not(.disabled):active,
.btn-outline-danger:not(:disabled):not(.disabled).active,
.show>.btn-outline-danger.dropdown-toggle {
	color: #fff;
	background-color: #dc3545;
	border-color: #dc3545;
}

.btn-outline-danger:not(:disabled):not(.disabled):active:focus,
.btn-outline-danger:not(:disabled):not(.disabled).active:focus,
.show>.btn-outline-danger.dropdown-toggle:focus {
	box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.5);
}

.btn-outline-light {
	color: #f8f9fa;
	border-color: #f8f9fa;
	background-color: transparent;
	border: 1px solid;
}

.btn-outline-light:hover {
	color: #212529;
	background-color: #f8f9fa;
	border-color: #f8f9fa;
}

.btn-outline-light:focus,
.btn-outline-light.focus {
	box-shadow: 0 0 0 0.2rem rgba(248, 249, 250, 0.5);
}

.btn-outline-light.disabled,
.btn-outline-light:disabled {
	color: #f8f9fa;
	background-color: transparent;
}

.btn-outline-light:not(:disabled):not(.disabled):active,
.btn-outline-light:not(:disabled):not(.disabled).active,
.show>.btn-outline-light.dropdown-toggle {
	color: #212529;
	background-color: #f8f9fa;
	border-color: #f8f9fa;
}

.btn-outline-light:not(:disabled):not(.disabled):active:focus,
.btn-outline-light:not(:disabled):not(.disabled).active:focus,
.show>.btn-outline-light.dropdown-toggle:focus {
	box-shadow: 0 0 0 0.2rem rgba(248, 249, 250, 0.5);
}

.btn-outline-dark {
	color: #343a40;
	border-color: #343a40;
	background-color: transparent;
	border: 1px solid;
}

.btn-outline-dark:hover {
	color: #fff;
	background-color: #343a40;
	border-color: #343a40;
}

.btn-outline-dark:focus,
.btn-outline-dark.focus {
	box-shadow: 0 0 0 0.2rem rgba(52, 58, 64, 0.5);
}

.btn-outline-dark.disabled,
.btn-outline-dark:disabled {
	color: #343a40;
	background-color: transparent;
}

.btn-outline-dark:not(:disabled):not(.disabled):active,
.btn-outline-dark:not(:disabled):not(.disabled).active,
.show>.btn-outline-dark.dropdown-toggle {
	color: #fff;
	background-color: #343a40;
	border-color: #343a40;
}

.btn-outline-dark:not(:disabled):not(.disabled):active:focus,
.btn-outline-dark:not(:disabled):not(.disabled).active:focus,
.show>.btn-outline-dark.dropdown-toggle:focus {
	box-shadow: 0 0 0 0.2rem rgba(52, 58, 64, 0.5);
}

.btn:focus,
.btn.focus {
	outline: 0;
	box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.btn.disabled,
.btn:disabled {
	opacity: 0.65;
}

.btn:not(:disabled):not(.disabled) {
	cursor: pointer;
}

.btn-dropdown:focus {
	outline: none;
}

.btn-dropdown:hover,
.btn-tools:hover {
	transform: scale(0.98);
}

/* Backgrounds & colored buttons */
.bg-primary,
.btn-primary {
	background-color: var(--primary-color);
	color: #fff;
}

.btn-primary:hover {
	color: #fff;
	background-color: #0069d9;
	border-color: #0062cc;
}

.btn-primary.disabled,
.btn-primary:disabled {
	color: #fff;
	background-color: #007bff;
	border-color: #007bff;
}

.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.show>.btn-primary.dropdown-toggle {
	color: #fff;
	background-color: #0062cc;
	border-color: #005cbf;
}

.btn-primary:not(:disabled):not(.disabled):active:focus,
.btn-primary:not(:disabled):not(.disabled).active:focus,
.show>.btn-primary.dropdown-toggle:focus {
	box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
}

.bg-secondary,
.btn-secondary {
	color: #fff;
	background-color: #17a2b8;
	border-color: #17a2b8;
}

.btn-secondary:hover {
	color: #fff;
	background-color: #138496;
	border-color: #117a8b;
}

.btn-secondary.disabled,
.btn-secondary:disabled {
	color: #fff;
	background-color: #17a2b8;
	border-color: #17a2b8;
}

.btn-secondary:not(:disabled):not(.disabled):active,
.btn-secondary:not(:disabled):not(.disabled).active,
.show>.btn-secondary.dropdown-toggle {
	color: #fff;
	background-color: #117a8b;
	border-color: #10707f;
}

.btn-secondary:not(:disabled):not(.disabled):active:focus,
.btn-secondary:not(:disabled):not(.disabled).active:focus,
.show>.btn-secondary.dropdown-toggle:focus {
	box-shadow: 0 0 0 0.2rem rgba(58, 176, 195, 0.5);
}

.bg-success,
.btn-success {
	color: #fff;
	background-color: #28a745;
	border-color: #28a745;
}

.btn-success:hover {
	color: #fff;
	background-color: #218838;
	border-color: #1e7e34;
}

.btn-success.disabled,
.btn-success:disabled {
	color: #fff;
	background-color: #28a745;
	border-color: #28a745;
}

.btn-success:not(:disabled):not(.disabled):active,
.btn-success:not(:disabled):not(.disabled).active,
.show>.btn-success.dropdown-toggle {
	color: #fff;
	background-color: #1e7e34;
	border-color: #1c7430;
}

.btn-success:not(:disabled):not(.disabled):active:focus,
.btn-success:not(:disabled):not(.disabled).active:focus,
.show>.btn-success.dropdown-toggle:focus {
	box-shadow: 0 0 0 0.2rem rgba(72, 180, 97, 0.5);
}

.bg-dark,
.btn-dark {
	color: #fff;
	background-color: #343a40;
	border-color: #343a40;
}

.btn-dark:hover {
	color: #fff;
	background-color: #23272b;
	border-color: #1d2124;
}

.btn-dark.disabled,
.btn-dark:disabled {
	color: #fff;
	background-color: #343a40;
	border-color: #343a40;
}

.btn-dark:not(:disabled):not(.disabled):active,
.btn-dark:not(:disabled):not(.disabled).active,
.show>.btn-dark.dropdown-toggle {
	color: #fff;
	background-color: #1d2124;
	border-color: #171a1d;
}

.btn-dark:not(:disabled):not(.disabled):active:focus,
.btn-dark:not(:disabled):not(.disabled).active:focus,
.show>.btn-dark.dropdown-toggle:focus {
	box-shadow: 0 0 0 0.2rem rgba(82, 88, 93, 0.5);
}

.bg-light,
.btn-light {
	color: #212529;
	background-color: #f8f9fa;
	border-color: #f8f9fa;
}

.btn-light:hover {
	color: #212529;
	background-color: #e2e6ea;
	border-color: #dae0e5;
}

.btn-light.disabled,
.btn-light:disabled {
	color: #212529;
	background-color: #f8f9fa;
	border-color: #f8f9fa;
}

.btn-light:not(:disabled):not(.disabled):active,
.btn-light:not(:disabled):not(.disabled).active,
.show>.btn-light.dropdown-toggle {
	color: #212529;
	background-color: #dae0e5;
	border-color: #d3d9df;
}

.btn-light:not(:disabled):not(.disabled):active:focus,
.btn-light:not(:disabled):not(.disabled).active:focus,
.show>.btn-light.dropdown-toggle:focus {
	box-shadow: 0 0 0 0.2rem rgba(216, 217, 219, 0.5);
}

.btn-sub-dark,
.bg-sub-dark {
	background-color: rgb(231, 231, 231, 0.5);
	color: #333;
}

.bg-white,
.btn-white {
	background-color: #fff;
	color: #333;
}

.bg-danger,
.btn-danger {
	color: #fff;
	background-color: #dc3545;
	border-color: #dc3545;
}

.btn-danger:hover {
	color: #fff;
	background-color: #c82333;
	border-color: #bd2130;
}

.btn-danger.disabled,
.btn-danger:disabled {
	color: #fff;
	background-color: #dc3545;
	border-color: #dc3545;
}

.btn-danger:not(:disabled):not(.disabled):active,
.btn-danger:not(:disabled):not(.disabled).active,
.show>.btn-danger.dropdown-toggle {
	color: #fff;
	background-color: #bd2130;
	border-color: #b21f2d;
}

.btn-danger:not(:disabled):not(.disabled):active:focus,
.btn-danger:not(:disabled):not(.disabled).active:focus,
.show>.btn-danger.dropdown-toggle:focus {
	box-shadow: 0 0 0 0.2rem rgba(225, 83, 97, 0.5);
}

.bg-warning,
.btn-warning {
	color: #212529;
	background-color: #ffc107;
	border-color: #ffc107;
}

.btn-warning:hover {
	color: #212529;
	background-color: #e0a800;
	border-color: #d39e00;
}

.btn-warning.disabled,
.btn-warning:disabled {
	color: #212529;
	background-color: #ffc107;
	border-color: #ffc107;
}

.btn-warning:not(:disabled):not(.disabled):active,
.btn-warning:not(:disabled):not(.disabled).active,
.show>.btn-warning.dropdown-toggle {
	color: #212529;
	background-color: #d39e00;
	border-color: #c69500;
}

.btn-warning:not(:disabled):not(.disabled):active:focus,
.btn-warning:not(:disabled):not(.disabled).active:focus,
.show>.btn-warning.dropdown-toggle:focus {
	box-shadow: 0 0 0 0.2rem rgba(222, 170, 12, 0.5);
}

.bg-blue,
.btn-blue {
	background-color: var(--blue-color);
	color: #fff;
}

.bg-primary a,
.btn-primary a,
.bg-secondary a,
.btn-secondary a,
.bg-dark a,
.btn-dark a {
	color: #fff;
}

.btn-sm {
	padding: 5px 14px;
	font-size: 0.775rem;
}

input:disabled,
button:disabled {
	cursor: not-allowed;
}

/* Text colors */
.text-success {
	color: var(--success-color);
}

.text-primary {
	color: var(--primary-color);
}

.text-secondary {
	color: var(--info-color);
}

.text-dark {
	color: var(--dark-color);
}

.text-light {
	color: var(--light-color);
}

.text-blue {
	color: var(--blue-color);
}

.text-orange {
	color: var(--orange-color);
}

.text-danger {
	color: var(--error-color);
}

.text-grey {
	color: var(--secondary-color);
}

/* Text sizes */
.lead {
	font-size: 20px;
}

.xm {
	font-size: 0.80rem;
	letter-spacing: 1.1px;
}

.sm {
	font-size: 1rem;
}

.md {
	font-size: 2rem;
}

.lg {
	font-size: 3rem;
}

.xl {
	font-size: 4rem;
}

.text-center {
	text-align: center;
}

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}

/* Alert */
.alert ul {
	margin: auto;
}

/* .alert {
  background-color: var(--light-color);
  padding: 10px 20px;
  font-weight: bold;
  margin: 15px 0;
}

.alert i {
  margin-right: 10px;
}

.alert-success {
  background-color: var(--success-color);
  color: #fff;
}

.alert-error {
  background-color: var(--error-color);
  color: #fff;
} */

.flex {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.grid {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 15px;
	/* justify-content: center; */
	/* align-items: center; */
	height: 100%;
}

.grid-3 {
	grid-template-columns: repeat(3, 1fr);
}

.grid-4 {
	grid-template-columns: repeat(4, 1fr);
}

/* Margin */
.my-1 {
	margin: 1rem 0;
}

.my-2 {
	margin: 1.5rem 0;
}

.my-3 {
	margin: 2rem 0;
}

.my-4 {
	margin: 3rem 0;
}

.my-5 {
	margin: 4rem 0;
}

.mt-1 {
	margin-top: 1rem;
}

.mt-2 {
	margin-top: 1.5rem;
}

.mt-3 {
	margin-top: 2rem;
}

.mt-4 {
	margin-top: 3rem;
}

.mt-5 {
	margin-top: 4rem;
}

.m-1 {
	margin: 1rem;
}

.m-2 {
	margin: 1.5rem;
}

.m-3 {
	margin: 2rem;
}

.m-4 {
	margin: 3rem;
}

.m-5 {
	margin: 4rem;
}

/* Padding */
.py-1 {
	padding: 1rem 0;
}

.py-2 {
	padding: 1.5rem 0;
}

.py-3 {
	padding: 2rem 0;
}

.py-4 {
	padding: 3rem 0;
}

.py-5 {
	padding: 4rem 0;
}

.p-1 {
	padding: 1rem;
}

.p-2 {
	padding: 1.5rem;
}

.p-3 {
	padding: 2rem;
}

.p-4 {
	padding: 3rem;
}

.p-5 {
	padding: 4rem;
}

.w-100 {
	width: 100%;
}

.w-75 {
	width: 75%;
}

.w-50 {
	width: 50%;
}

.w-25 {
	width: 25%;
}

.grid-form {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
	grid-gap: 0.875rem;
}

.grid-form-2 {
	display: grid;
	/* grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); */
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 0.875rem;
}

.grid-form-3 {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 0.875rem;
}

.grid-form-4 {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 0.875rem;
}

.form-group,
.form-group-2 {
	margin-bottom: 16px;
}

.form-input {
	border: 0;
	border-bottom: 1px solid #b4becb;
	width: 100%;
	padding: 3px;
	font-size: 16px;
}

.form-control {
	width: 100%;
	padding: 9px;
	font-size: 16px;
	border: 1px solid rgba(158, 158, 158, 0.6);
	border-radius: 5px;
	margin-top: 3px;
}

.form-message {
	width: 100%;
	padding: 8px 40px 8px 12px;
	font-size: 1rem;
	border: 1px solid rgba(88, 88, 88, 0.9);
	border-radius: 25px;
}

.form-group-2 input:focus,
.form-group-2 select:focus,
.form-group-2 textarea:focus {
	outline: none;
	border-bottom: 1px solid var(--primary-color);
}

.form-group input:focus,
.form-group select:focus,
.form-group textarea:focus,
.form-message:focus {
	outline: none;
	border: 1px solid var(--primary-color);
}

.input-group {
	position: relative;
	margin-bottom: 5px;
}

.input-group .input-field {
	padding: 12px 12px 12px 36px;
	font-size: 1rem;
	font-weight: 300;
	border: none;
	border-right: 2px rgb(207, 207, 207, 0.2) solid;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	width: 100%;
}

.input-group .input-select {
	padding: 12px;
	font-size: 1rem;
	font-weight: 300;
	border: none;
	border-radius: 5px;
	width: 100%;
}

.input-group .input-field-2 {
	padding: 12px 12px 12px 36px;
	font-size: 1rem;
	font-weight: 300;
	border: none;
	/* border: 1px rgb(207, 207, 207, 0.2) solid; */
	border-left: 0;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	width: 100%;
}

.input-group .input-label {
	position: absolute;
	top: 0;
	left: 0;
	margin: 7px 0 0 10px;
	color: #333;
	opacity: 0.3;
	font-size: 1.2rem;
}

.input-group input:focus,
.input-group select:focus {
	outline: 0;
}

textarea {
	resize: none;
	overflow: hidden;
	min-height: 90px;
}

.invalid {
	border-bottom: 1px solid var(--error-color);
}

.invalid-2 {
	border: 1px solid var(--error-color);
}

.form-check-group {
	display: flex;
	align-items: center;
}

.form-check-group .form-check {
	margin: auto 8px;
}

.radio-group,
.check-group {
	display: flex;
	height: 36px;
}


.radio-group input[type="radio"],
.check-group input[type="checkbox"] {
	visibility: hidden;
	height: 0;
	width: 0;
}

.radio-group .radio-label,
.check-group .check-label {
	display: flex;
	flex: auto;
	vertical-align: middle;
	align-items: center;
	justify-content: center;
	text-align: center;
	cursor: pointer;
	background-color: var(--light-color);
	color: #333;
	border-radius: 20px;

}

.radio-group input[type="radio"]:checked+label,
.check-group input[type="checkbox"]:checked+label {
	background-color: var(--info-color);
	color: #fff;
}

.radio-group input[type="radio"]:hover:not(:checked)+label,
.check-group input[type="checkbox"]:hover:not(:checked)+label {
	/* background-color: var(--primary-color); */
	transform: scale(0.9);
	/* color: #fff; */
}
